body {
    justify-content: center;
}

div {
    display: block;
    justify-content: center;
}

h2 {
    
}
.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz-container {


}

.answer-button {
    background-color: #FF63C3;
    height: 40px;
    color: #2a3031;
    border: none;
    margin: 5px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    box-shadow: 0px 6px #66C3FF;
    margin: 10px auto;
    position: relative;
    align-items: center;
    transition: 0.2s;

}

.answer-button:hover {
    background-color: #F0CF65;
    box-shadow: 0 4px #F37748;
    top: 2px;
}

.answer-button:active {
    background-color: #F0CF65;
    box-shadow: none;
    top: 6px;
}

.answer {
    width: 100%;
}

.start-button {
    max-width: 100px;
    background-color: #FF63C3;
    height: 40px;
    color: #2a3031;
    border: none;
    margin: 5px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 6px #66C3FF;
    margin: 10px auto;
    position: relative;
    align-items: center;
    transition: 0.2s;
}